<form action="/answer" data-turbo="false" method="get">
  <label for="question">What do you want to ask your coach?</label>
  <input type="text" name="question" id="question" placeholder="where's waldo">
  <input type="submit" value="Ask!">
</form>
